body{
    background-color: transparent;
}

h1 {
    text-align: center;
    word-break: keep-all;
}

.container {
    min-width: 400px;
    max-width: 1020px;
    display: flex;
    align-items: center;
}

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}