#qna {
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 15px;
}

.qBox {
    font-size: 21px;
    word-break: keep-all;
}

.answerList {
    border: none;
    border-radius: 10px;
    display: block;
    width: 80%;
    text-align: justify;
}

.answerList:hover, .answerList:focus {
    background-color: #454b54;
    color: whitesmoke;
}

.status {
    height: 20px;
    border-radius: 20px;
    width: 80%;
    background-color: white;
}

.statusBar {
    height: 100%;
    border-radius: 20px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,33,71,1) 49%, rgba(27,89,102,0.3981967787114846) 100%);
}