#result {
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 15px;
}

#heroName, button {
    word-break: keep-all;
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#shareResult {
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 15px;
}

#resultDesc {
    text-align: justify;
    font-size: 15px;
}

#share {
    color: #3B1E1E;
    background-color: #FEE500;
    border: 1px solid #FEE500;
    margin-right: 20px;
}

#share:hover, #share:focus {
    background-color: #fee50180;
    border: 1px solid #fee50180;
}

#nisLink:hover, #nisLink:focus, #tryAgain:hover, #tryAgain:focus, .gohome:hover, .gohome:focus {
    background-color: #454b54;
    color: whitesmoke;
}


@media (max-width: 680px) {
    #buttonContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}